<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.firebase.remote.config.plugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>Firebase Remote Config Plugin</name>
    
    <js-module name="FirebaseRemoteConfigPlugin" src="www/FirebaseRemoteConfigPlugin.js">
        <clobbers target="cordova.plugins.FirebaseRemoteConfigPlugin"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>

    <platform name="ios">
        
        <preference name="IOS_FIREBASE_POD_VERSION" default="10.17.0" />

        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseRemoteConfigPlugin">
                <param name="ios-package" value="FirebaseRemoteConfigPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/FirebaseRemoteConfigPlugin.swift"/>

       <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Firebase/RemoteConfig" spec="$IOS_FIREBASE_POD_VERSION" />
            </pods>
        </podspec>

        <hook type="before_plugin_install" src="hooks/ios/install_prerequisites.js"/>
		<hook type="after_plugin_add" src="hooks/ios/add_swift_support.js" />

    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirebaseRemoteConfigPlugin">
                <param name="android-package" value="com.outsystems.experts.firebase.remote.config.plugin.FirebaseRemoteConfigPlugin" />
            </feature>
        </config-file>

        <!-- Copy files Kotlin -->
		<source-file src="src/android/FirebaseRemoteConfigPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/firebase/remote/config/plugin" />

        <!-- SDK Files -->
        <framework src="src/android/remoteconfig.gradle" custom="true" type="gradleReference" />
        <!-- END SDK Files -->

        <config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.9.20" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

         <!-- Edit AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <!-- END Edit AndroidManifest.xml -->

        <!-- Hoook to enabled google services if is not enabled in CDV cordova -->
        <hook type="before_build" src="hooks/android/enableGoogleServicesHook.js" />

    </platform>
</plugin>
